.wrap {
  text-align: center;
}

.butStyle {
  width: 150px;
  height: 100px;
  font-size: 30px;
  border-style: none;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgb(243, 243, 243);
}

body {
}
